<p id="notice"><%= notice %></p>

<h1>Posts</h1>

  <body>
    <% @posts.each do |post| %>
      <tr>
        <div class='image'>
          <td><%= link_to image_tag(post.image, style:'height:100px'), posts_path %></td>
        </div>
        <div class='title'>
          <th>Title</th>
          <td><%= post.title %></td>
        </div>
        <div class='caption'>
          <td><%= emojify(post.caption) %></td>
        </div>
        <div class='edit'>
          <td><%= link_to 'Show', post %></td>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </div>
      </tr>
    <% end %>
  </body>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
